:root {
    --navbarFontsize: 1.25rem;
    --boldLine: 0.1rem;
    --bolderLine: 0.2rem;
    --highlight: #03a9f4;
    --background: #fcfcfc;
    --animeTimeNormal: 0.25s;
    --fastIn: cubic-bezier(0, 1, 1, 1);
    --shadowColor: #3a5a6a;
}

body {
    margin: 0;
    background-color: var(--background);
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'navbar'
        'content'
        'footer';
}

.sliders,
.slider {
    position: relative;
}

.slider-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    font-size: 10vw;
    font-weight: bolder;
    cursor: pointer;
    color: var(--highlight);
}

.slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    font-size: 10vw;
    font-weight: bolder;
    cursor: pointer;
    color: var(--highlight);
}

.slider-next::selection,
.slider-prev::selection {
    color: var(--highlight);
    background-color: unset;
}

.slider img {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: navbar-start / navbar-start / navbar-end / navbar-end;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: white;
    padding: 0 1rem;
    box-shadow: 0px -1px 5px 0px var(--shadowColor);
    transition: var(--fastIn) var(--animeTimeNormal);
}

.navbar:hover {
    box-shadow: 0px -1px 10px 0px var(--shadowColor);
}

.nav-left {
    order: 1;
}

.brand img {
    padding-top: 5px;
    width: 100%;
}

.nav-center {
    order: 3;
}

.nav-center label {
    display: none;
    font-weight: bold;
    cursor: pointer;
}

.nav-center label::before {
    content: '菜单↓';
}

.nav-center input:checked + label::before {
    content: '折叠↑';
}

.nav-center label:hover {
    color: var(--highlight);
}

.nav-right {
    float: right;
    order: 4;
}

.nav-item {
    font-size: var(--navbarFontsize);
    margin: 0.5em;
    position: relative;
}

.nav-item[now] {
    font-weight: bold;
}

.nav-item:hover {
    font-weight: bold;
}

.nav-item::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -0.3rem;
    width: 0%;
    height: var(--bolderLine);
    background-color: var(--highlight);
    transition: var(--fastIn) var(--animeTimeNormal);
}

.nav-item:active::after {
    left: 20%;
    width: 60%;
}

.nav-item[now]::after {
    left: 20%;
    width: 60%;
    transition: var(--fastIn) var(--animeTimeNormal);
}

.nav-item[now]:hover::after {
    left: 0%;
    width: 100%;
}

a {
    outline: none;
    color: inherit;
    text-decoration: none;
}

.input-btn {
    display: inline-grid;
    grid-template-columns: auto auto;
    font-size: var(--navbarFontsize);
    border: var(--boldLine) black solid;
}

.input-btn input {
    border: none;
    outline: none;
    font-size: var(--navbarFontsize);
}

.input-btn button {
    font-size: var(--navbarFontsize);
    background-color: inherit;
    border: none;
}

.content {
    grid-area: content-start / content-start / content-end / content-end;
    background-color: var(--background);
    padding: 1rem;
    transition: var(--fastIn) var(--animeTimeNormal);
}

.news {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    margin: 2.5% 0;
}

.card {
    display: block;
    flex: 0 0 47.5%;
    margin: 2.5% 0;
    transition: var(--fastIn) var(--animeTimeNormal);
    aspect-ratio: 3 / 1;
}

.card:hover {
    box-shadow: 0px 0px 5px 0px var(--shadowColor);
}

.card img {
    width: 50%;
    float: left;
}

.card .summary {
    padding-left: calc(50% + 1rem);
    padding-right: 1rem;
    font-weight: bold;
    margin-top: 0;
}

.card .preview {
    padding: 0 1rem;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;

}

.footer {
    grid-area: footer-start / footer-start / footer-end / footer-end;
    text-align: center;
    background-color: var(--background);
    padding-bottom: 1rem;
}

.info {
    border-left: var(--boldLine) black solid;
    padding: 0 0.5rem;
}

.info:first-child {
    border: none;
}

.article p {
    line-height: 2em;
    padding: 0 2em;
}

.article p + p {
    padding-top: 1em;
}

.article img{
    display: block;
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: 0;
    width: 70%;
    max-width: 50rem;
}

.article .img-desc {
    margin: 0;
    text-align: center;
    padding-bottom: 1rem;
}

.article h1 {
    position: relative;
    padding: 0 2rem;
}

.article h1::after {
    position: absolute;
    content: '';
    left: 2rem;
    bottom: -1rem;
    width: calc(100% - 4rem);
    height: var(--boldLine);
    background-color: var(--highlight);
 }

.article-date, .article-source {
    display: inline-block;
    padding: 0;
}

.article li {
    padding-left: 2rem;
}

.no-indent {
    text-indent: 0 !important;
}

@media (min-width: 1580px) {
    body {
        background-color: white;
    }

    .container {
        grid-template-columns: 21rem auto;
        grid-template-rows: auto auto;
        grid-template-areas: 'navbar content'
            'footer content';
    }

    .navbar {
        flex-direction: column;
        margin: 1rem;
        top: 2.5rem;
        box-shadow: none;
    }

    .navbar:hover {
        box-shadow: none;
    }

    .nav-center a {
        display: block;
        margin: 1rem 0;
    }

    .nav-center {
        align-self: flex-start;
    }

    .nav-right {
        order: 2;
        margin: 1rem 0;
    }

    .content {
        box-shadow: 0px 0px 8px 0px var(--shadowColor);
        min-height: calc(100vh - 2rem);
    }

    .content:hover {
        box-shadow: 0px 0px 2px 0px var(--shadowColor);
    }

    .card .preview {
        -webkit-line-clamp: 6;
    }

    .footer {
        position: fixed;
        width: 19rem;
        bottom: 1rem;
        margin: 1rem;
        text-align: left;
        background-color: white;
    }

    .info {
        display: block;
    }

    .info:first-child {
        border-left: var(--boldLine) black solid;
    }
}

@media (max-width: 1200px) {
    .nav-right {
        display: none;
    }

    .card .preview {
        -webkit-line-clamp: 3;
    }
}

@media (max-width: 1040px) {
    .card {
        flex: 0 0 calc(100% - 2 * var(--boldLine));
    }

    .card .preview {
        -webkit-line-clamp: 10;
    }
}

@media (max-width: 880px) {
    .nav-item {
        font-size: 1rem;
        font-weight: bold;
    }

    .nav-item:hover {
        color: var(--highlight);
    }

    .nav-left {
        width: 32%;
    }

    .card .preview {
        -webkit-line-clamp: 5;
    }
}

@media (max-width: 700px) {
    .nav-left {
        width: 13rem;
    }

    .nav-center label {
        display: block;
    }

    .nav-center .items {
        display: none;
    }

    .nav-center input:checked ~ .items {
        display: flex;
        position: absolute;
        align-items: center;
        right: 0;
        top: 3.5rem;
        background-color: var(--background);
        box-shadow: -1px 3px 4px 0 var(--shadowColor);
        padding: 1rem;
    }

    .nav-center input:checked ~ .items .nav-item {
        display: block;
    }

    .info {
        border: none;
        display: block;
    }
}

@media (max-width: 600px) {
    .card .preview {
        -webkit-line-clamp: 3;
    }
}

@media (max-width: 520px) {
    .card .preview {
        -webkit-line-clamp: 3;
    }

    .items {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .card .preview {
        display: none;
    }

    .card {
        box-shadow: 0px 0px 2px 0px var(--shadowColor);
    }
}

@media (max-width: 350px) {
    .card img {
        width: 100%;
        float: unset;
    }

    .card .summary {
        padding-left: 1rem;
    }
}