<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="lib/pangu.js"></script>
    <title>兴顺矿业科技（徐州）有限公司</title>
</head>

<body>
<div class="container">
    <header class="navbar">
        <div class="nav-left">
            <div class="brand">
                <a href="index.html">
                    <img src="resource/img/brand.jpg" alt="兴顺矿业科技">
                </a>
            </div>
        </div>
        <div class="nav-center">
            <input type="checkbox" id="item-show" hidden>
            <label for="item-show"></label>
            <div class="items">
                <a href="campus.html" class="nav-item">公司简介</a>
                <a href="educate.html" class="nav-item">新闻资讯</a>
                <a href="research.html" class="nav-item">案例分析</a>
                <a href="job.html" class="nav-item">招聘信息</a>
            </div>
        </div>
        <div class="nav-right">
            <div class="input-btn">
                <input type="text">
                <button>
                    🔍
                </button>
            </div>
        </div>
    </header>
    <section class="content">
        <div class="sliders" id="slider">
            <div class="slider" v-for="s in imgs">
                <img v-bind:src="'resource/img/slider/' + s.img" v-show="s.id === showId">
            </div>
            <div class="slider-prev" @click="showId = (showId - 1 + imgs.length) % imgs.length">&lt;</div>
            <div class="slider-next" @click="showId = (showId + 1) % imgs.length">&gt;</div>
        </div>
        <!-- <div class="news" id="news">
            <div class="card" v-for="news in content">
                <a v-bind:href="'news.html?id=' + news.id">
                    <img v-if="news.img != null" v-bind:src="'resource/img/news/' + news.id + '/' + news.img">
                    <p class="summary">
                        {{news.title}}
                    </p>
                    <p class="preview">
                        {{news.preview}}
                    </p>
                </a>
                
            </div>
        </div> -->
        <p>
            兴顺矿业科技（徐州）有限公司，成立于2024年1月31日，注册地为江苏省徐州市高新技术产业开发区大学路99号大学创业园。
        </p>
        <p>
            公司依托于中国矿业大学岩土工程、采矿工程国家级重点学科及中国矿业大学贵州研究院、深地工程智能建造与健康运维全国重点实验室，深耕于煤炭领域尤其致力于贵州煤矿安全高效生产，重点围绕工程岩体稳定性控制、矿山压力与岩层控制、安全高效采掘等方面开展创新研究，包括但不限于巷道围岩控制、特殊巷道顶板治理、特殊采面顶板治理、沿空留巷无煤柱开采、小煤柱沿空掘巷开采、新掘巷道“一次成巷”、修复巷道“一次修成”、巷道快速掘进、工作面高效回采、先进材料与高效设备、采掘工序与工艺、高效采掘与安全管理、围岩物理力学参数测定等先进适用技术，主要为煤矿企业提供技术开发、技术服务、技术咨询、技术交流、技术转让、技术推广、地质勘查等业务。
        </p>
    <p>
        公司主要成员曾作为主要参与人完成国家自然科学基金面上项目1项、中国矿业大学校企合作项目20余项累计项目资金7000余万元，发表学术论文30多篇，获批国家发明专利近20项，申请软件著作权1项。到目前止，与六盘水恒鼎实业公司（8家煤矿）、大西南矿业公司（5家煤矿）、朗月矿业集团公司（5家煤矿）、水城矿业集团公司（3家煤矿）、黔鑫煤矿、火烧铺煤矿、三甲煤矿、杨柳煤矿等二十多家煤矿开展技术设计、技术施工、技术指导、检测监测等采掘项目合作，取得了良好成效。
    
    
    </p>
    </section>
    

    <footer class="footer">
        <span class="info">江苏省徐州市高新技术产业开发区大学路99号大学创业园</span>
        <span class="info">邮编 221200</span>
        <span class="info">邮箱 heng320382@qq.com</span>
    </footer>
</div>

<script type="module" src="js/slider.js"></script>
<script type="module">
    import {createApp} from "./lib/vue.esm-browser.js";

    fetch('resource/articles.json')
        .then(x => x.json())
        .then(x => {
            let contents = x.map(a => {
                return {
                    img: a.cover,
                    id: a.id,
                    title: a.title,
                    preview: a.content.filter(c => c.type === 'text')[0].text
                }
            });

            let news = {
                data() {
                    return {
                        content: contents
                    }
                }
            };

            createApp(news).mount('#news');
        });
</script>
</body>

</html>